In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {
    'Name' : ["Aira", "Julie", "Chen", "Neslie", "Ara"],
    'Age' : [18, np.nan, 20, 21, 22],
    'Salary' : [1000, np.nan, 3000, 4000, 500],
    'Department' : ["Registrar", "Finance", "Accounting", "IT", "HR"]
}

In [3]:
df = pd.DataFrame(data)
print("Original Dataset: \n", df)

Original Dataset:
      Name   Age  Salary  Department
0    Aira  18.0  1000.0   Registrar
1   Julie   NaN     NaN     Finance
2    Chen  20.0  3000.0  Accounting
3  Neslie  21.0  4000.0          IT
4     Ara  22.0   500.0          HR

In [4]:
df.fillna(df.mean(numeric_only=True), inplace=True)
print("New Dataset: \n", df)

New Dataset:
      Name    Age  Salary  Department
0    Aira  18.00  1000.0   Registrar
1   Julie  20.25  2125.0     Finance
2    Chen  20.00  3000.0  Accounting
3  Neslie  21.00  4000.0          IT
4     Ara  22.00   500.0          HR